@import "../../_global_colors.scss";

.card{
    background-color: $white;
    display: flex;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
    height: 280px;
    .card__image{
        width: 40%;
        height: 100%;
        object-fit: cover;
    }

    .card__content{
        padding: 35px;
        h1{
            color: $very_dark_grayish_blue;
        }
        p{
            color: $desaturated_dark_blue;
            padding-block: 20px;
        }
    }

}