@import "../../_global_colors.scss";

.profilecard {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 50px;

    .profilecard__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .profilecard__content {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 14px;
        }

        p {
            font-size: 14px;
            padding: 0px;
        }
    }

    .profilecard__button {
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-self: flex-end;
        position: absolute;
        right: 15px;
        background: url("../../assets/icon-share.svg") no-repeat center;
        background-color: $light_grayish_blue;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
        }
       
    }
}